.body-100 {
	background: #ffffff;
	background-image: linear-gradient(to bottom, rgb(0 0 0 / 10%) 0, rgb(0 0 0 / 10%) 1px, transparent 1px), linear-gradient(to right, rgb(0 0 0 / 10%) 0, rgb(0 0 0 / 10%) 1px, transparent 1px);
	background-size: 2px 2px;
	background-repeat: repeat;
}
.typecho-login {
	display: block;
	padding: 15px 30px;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc;
	opacity: 0.95;
}
.typecho-login-wrap {
	width: 100%;
	display: block;
	position: absolute;
	top: 22%;
	height: auto;
}
.typecho-login .more-link {
	margin-top: 0;
}
.typecho-login h1 {
	margin: 0.5em 0 1em;
}
.i-logo,
.i-logo-s {
	background: url(../img/logo.png) no-repeat;
	width: 180px;
	height: 60px;
	opacity: 1;
}
.i-logo:hover,
.i-logo-s:hover {
	opacity: 0.9;
}
